nav ul {
    list-style-type: none;
}

nav img {
    width: 200px;
}

nav {
    background-color: #333;
  }

#nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
  
li {
    padding: 10px;
}
  
a {
    color: white;
    text-decoration: none;
}
  
a:hover {
    background-color: #555;
}