.SearchForm button img {
    width: 20px;
    height: 20px;
}

.SearchForm {
    display: flex;
    width: 500px;
    height: 45px;
    gap: 0.5rem;
}

.SearchForm select, .SearchForm input {
    height: 100%;
    padding: 0;
}
