.SearchForm button img {
    width: 20px;
    height: 20px;
}

.SearchForm {
    display: flex;
    width: 500px;
    height: 45px;
}

.SearchForm select, .SearchForm input {
    height: 100%;
    padding: 0;
}

.SearchForm select {
    flex: 1;
}

.SearchForm input {
    flex: 2;
}


