  .slider {
    height: 200px;
    position: relative;
    width: 100%;
  
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .slider::before,
  .slider::after{
    position:absolute;
    background-image:linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content:'';
    height:100%;width:25%;
    z-index:2;pointer-events:none;
  }
  .slider::before{
    left:0;
    top:0;
  }
  .slider::after{
    right:0;
    top:0;
    transform:rotateZ(180deg);
  }
  
  .slide-track2 {
    width: calc(150px * 15);
    display: flex;
    animation: scroll2 15s linear infinite;
    justify-content: space-between;
  }
  
  .slide {
    width: 315px;
    height: 200px;
  
    display: grid;
    place-items: center;
    transition:0.5s;
    cursor:pointer;
  }
  .slide:hover{
    transform:scale(0.8)
  }
  
  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-150px * 5));
    }
  }
  
  @media screen and (max-width: 768px) {
    .slide-track2 {
      width: calc(80px * 15);
    }
  
    .slide {
      width: 80px;
    }
  
    @keyframes scroll2 {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(calc(-80px * 5));
      }
    }
  }


  /* Default styles for all devices */
body {
  background-color: lightgray;
}

/* Styles for screens that are 600px or less */
@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* Styles for screens that are between 600px and 1200px */
@media screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    background-color: lightgreen;
  }
}

/* Styles for screens that are more than 1200px */
@media screen and (min-width: 1201px) {
  body {
    background-color: lightpink;
  }
}

/* using different background colors for different screen sizes for testing */