.SearchForm button img {
    width: 20px;
    height: 20px;
}

.SearchForm {
    display: flex;
    width: 500px;
    height: 45px;
    top: 0;
    gap: 0.5rem;
    background-color: #f9f9f9;
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
    margin-bottom: 20px;
}

.SearchForm select:nth-of-type(1) {
    flex: 2;
}

.SearchForm select:nth-of-type(2) {
    flex: 2;
}

.SearchForm input {
    flex: 4;
}

.SearchForm button {
    flex: 1;
}


/* .SearchForm select, .SearchForm input {
    height: 100%;
    padding: 0;
} */

/* Styles for screens that are 600px or less */
@media screen and (max-width: 600px) {
    .SearchForm {
        display: block;
        width: 500px;
        height: 45px;
    }

    .SearchForm input {
        width: 50%;
        display: block;
    }

    .SearchForm select{
        width: 50%;
        display: block;
    }


/* .SearchForm button {
    height: 100%;
}

.SearchForm input {
    flex: 4;
}

.SearchForm input {
    flex: 1;
} */
}