.SearchResults {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.SearchResult {
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SearchResult > .LinkContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Link {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.SearchResult > img {
    width: auto;
    height: auto;
    max-width: 20rem;
    flex: 4;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(170, 133, 12)
}