.SearchForm button img {
    width: 20px;
    height: 20px;
}

.SearchForm {
    display: flex;
    width: 500px;
    height: 45px;
}

.SearchForm select, .SearchForm input {
    height: 100%;
    padding: 0;
}

/* Styles for screens that are 600px or less */
@media screen and (max-width: 600px) {
    .SearchForm {
        display: block;
        width: 500px;
        height: 45px;
    }

    .SearchForm input {
        width: 50%;
        display: block;
        background-color: red;
    }

    .SearchForm select{
        width: 50%;
        display: block;
    }
.SearchForm button {
    height: 100%;
}

.SearchForm input {
    flex: 4;
}

.SearchForm input {
    flex: 1;
}
}